<!doctype html>
<html lang="pt-br" data-store="{{ store.id }}" class="page-{{ pages.current }}">
    <head>
        <!-- ============== Favicon =============== -->
        <link rel="icon" type="image/png" href="{{ asset(settings.favicon) }}" />
        <!-- ============== Meta Tags =============== -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="stqk13yl1APJc2CKhF1BIe58tucXUdRaVuY3a9zyt7Y" />
        <!-- [if IE]<meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        {{ tray.meta }}
	    <!-- {{ tray.styles }} -->
        <!-- ============== end Metas Tags =============== -->

        <!-- ============== Js Pace load =============== -->
        
	    <script type="text/javascript" src="{{ asset('js/pace.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('js/tray_functions.js') }}"></script>
        <!-- ============== end Js Pace load =============== -->

        <!-- ============== Styles =============== -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/others/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/others/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.multilevelpushmenu.css') }}">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        
        <!-- ============== end Styles =============== -->

        {{ tray.analytics }}
        {{ googleTagManager.header(pages.current, tagManagerData) }}

        <!-- ============== JS Tray =============== -->
        {{ tray.scripts }}
        <script>
            var $tray = jQuery;
        </script>
        <!-- ============== end JS Tray =============== -->

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=1827951590754210";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    </head>
    <body>
        

<!--Start of Tawk.to Script-->
{% if not utils.is_mobile %}
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5bc635bb08387933e5bb8be0/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
{% endif %}



<!--End of Tawk.to Script-->
        {% element 'snippets/svg-sprite' %}
        {{ googleTagManager.top(pages.current, tagManagerData) }}
        {{ store.chat }}

        {% if pages.current not in ['checkout_cart', 'checkout_payment'] %}
            {% element 'header' %}
        {% else %}
        {% element 'header_checkout' %}
        {% endif %}
        
        {% if pages.current == 'home'  %}
            <main class="main">
                {% if pages.current == 'home' and banner.home %}
                <section id="full-banner">{{ banner.home }}</section>
                {% endif %}
                
                {% if pages.current == 'home'  %}
                {% if not utils.is_mobile %}
                {% element 'snippets/newsletter' %}
                {% endif %}
                {% endif %}
                <section class="{{pages.current}}">
                    {{ content_for_layout }}
                </section>
            </main>
        {% else %}
            <main class="main center">
                {% if pages.current == 'home' and banner.home %}
                <section id="full-banner">{{ banner.home }}</section>
                {% endif %}
                
                {% if pages.current == 'home'  %}
                {% if not utils.is_mobile %}
                {% element 'snippets/newsletter' %}
                {% endif %}
                {% endif %}
                <section class="{{pages.current}}">
                    {{ content_for_layout }}
                </section>
            </main>
        {% endif %}

        {% element 'footer' %}
        <div data-quickview></div>
        {% element 'snippets/modal' %}
        {{ googleTagManager.bottom(pages.current, tagManagerData) }}

        {% if pages.current not in ['checkout_cart', 'checkout_payment'] %}
        {{ html.script('dist/application.min.js?' ~ utils.assets_version) }}
        {% endif %}

        {% element 'snippets/pageview' %}

        <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/stickyfill.min.js') }}"></script>
        <script defer type="text/javascript" src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/jquery.multilevelpushmenu.min.js') }}"></script>
        <script defer type="text/javascript" src="{{ asset('js/newiscool.js') }}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
        <script src="//platform-api.sharethis.com/js/sharethis.js#property=5c3fca92058f100011a5a7ce&product=inline-share-buttons"></script>
    </body>
</html>
