.banners-extras{
  background: #ef4d88;
  ul.info-list.flex_width-v {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    .info-list__item{
      display: flex;
      span{
        width: 100%;
        color: #fff;
        font-size: 16px;
        margin:5px 15px ;
        a{
          color: #000;
          padding: 10px;
          background: #fff;
          color: #ef4d88;
          display: flex;
          align-items: center;
      }
    }
  }
}
}
.info-lane {
  align-items: center;
  display: flex;
  // height: 35px;
  height: 60px;
  justify-content: space-between;
  margin-top: 0;
  transition: all 150ms ease-in-out;
  text-transform: uppercase;
  background: #ef4d88;
  @media (max-width:992px){
    height: 75px;
  }
  .banner-ebit_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flex_width-v{
    @media (max-width:992px){
      flex: 0 0 20%
    }
  }
  .flex_width-c{
    @media (max-width:992px){
      flex: 0 0 65%;
      text-align: center;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    li{
      span{
        color:#fff;
        a{
          color: #000;
          padding: 10px;
          background: #fff;
          color: #ef4d88;
          display: flex;
          align-items: center;
          @media (max-width:992px){
            padding: 0;
            color: #fff;
            background: none;
            text-decoration: underline;
          }
          svg{
            margin:0 5px;
          }
        }
      }
    }
  }
}

.help {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.help__desc {
  color: #959595;
  font-size: 14px;
  font-weight: 600;
}

.help__link {
  color: $cor02;
  font-size: 14px;
  font-weight: 500;
  margin-left: 3px;
  @media (max-width:992px){
    font-size: 11px;
  }
}

p#demo {
  color:$cor01;
  font-weight: 800;
  margin: 0;
}

.help__icon {
  margin-right: 5px;
}

.info-list {
  align-items: center;
  display: flex;
}

.info-list__item {
  align-items: center;

  &:last-child {
    margin-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 992px){
      flex-wrap: wrap;
      line-height: 15px;
    }
  }
}


.info-list__title,
.info-list__desc {
  font-size: 13px;
  font-weight: 700;
  a{
    color: $cor02;
  }
}

.info-list__title {
  align-items: center;
  display: inline-flex;
  margin: 0 5px;
  color: $cor02;
}

.info-list__desc {
  color: $cor02;
  margin-left: 3px;
}

.info-list__icon {
  fill: $cor01;
  height: 18px;
  margin-right: 5px;
  width: 18px;
}

.icon--question {
  fill: $cor01;
  height: 15px;
  width: 15px;
}
