.info-lane {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: space-between;
  margin-top: 0;
  transition: all 150ms ease-in-out;
  text-transform: uppercase;
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.help {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.help__desc {
  color: #959595;
  font-size: 14px;
  font-weight: 600;
}

.help__link {
  color: $cor02;
  font-size: 14px;
  font-weight: 500;
  margin-left: 3px;
  @media (max-width:992px){
    font-size: 11px;
  }
}

p#demo {
  color:$cor01;
  font-weight: 800;
  margin: 0;
}

.help__icon {
  margin-right: 5px;
}

.info-list {
  align-items: center;
  display: flex;
}

.info-list__item {
  align-items: center;

  &:last-child {
    margin-right: 0;
    display: flex;
    align-items: center;
  }
}


.info-list__title,
.info-list__desc {
  font-size: 13px;
  font-weight: 700;
  a{
    color: $cor02;
  }
}

.info-list__title {
  align-items: center;
  display: inline-flex;
  margin: 0 5px;
  color: $cor02;
}

.info-list__desc {
  color: $cor02;
  margin-left: 3px;
}

.info-list__icon {
  fill: $cor01;
  height: 18px;
  margin-right: 5px;
  width: 18px;
}

.icon--question {
  fill: $cor01;
  height: 15px;
  width: 15px;
}
