.page-login {
  .main{padding:160px 0 0 ;}
  .container-titulo-login {
    display: none;
  }
  h3 {
    color: $cor02;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
    font-weight: 600;
  }
  .board {
    align-items: center;
    font-size: 0;
    min-height: 250px;
    padding: 50px 0 30px;
    .Login {
      display: inline-block;
      padding: 15px;
      vertical-align: top;
      width: 50%;
      @media(max-width: 767px) {
        text-align: center;
        width: 100%;
      }
      fieldset {
        label {
          color: $cor02;
          font-size: 16px;
          line-height: 16px;
          font-weight: 300;
          display: inline-block;
          margin-bottom: 5px;
          width: 100% !important;
          text-align: center;
          input {
            margin-top: 10px;
            padding-left: 15px;
            width: 100% !important;
          }
        }
      }
      p {
        margin: 0 !important;
        text-align: center;
      }
      .botao-efetuar-login {
        background: #000;
        color: #fff;
        font-size: 14px;
        width: 50%;
        cursor: pointer;
        height: 40px;
        margin-top: 25px;
        padding: 13px 0;
        text-transform: uppercase;
      }
    }

    .Cadastro {
      display: inline-block;
      padding: 15px;
      vertical-align: top;
      width: 50%;
      border: solid #cecece;
      border-width: 0px 0px 0px 1px;
      @media(max-width: 767px) {
        text-align: center;
        width: 100%;
      }
      form {
        text-align: center;
        fieldset {
          // p, label {
          //   display: none;
          //   input {
          //     display: none;
          //   }
          // }
          label{
            width: 60%;
            margin: 15px 0;
            input{
              padding: 15px;
              width: 100%;
              font-size: 12px;
            }
          }
          .mensagensErro{
            font-size: 11px;
            color: red;
          }
          .cadastro-desc {
            color: #333;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            display: inline-block;
            margin-bottom: 5px;
            width: 100% !important;
            text-align: center;
            &:after {
              content: "Digite seu email e verifique se ja possui cadastro";
              display: block;
            }
          }
          p.cadastro-campo.campo-email {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            .label{
              &:before{
                content: 'Verifique seu email';
                font-size: 12px;
              }
            }
          }
          .botao-novo-cadastro {
            color: #fff;
            background: $cor01;
            font-size: 18px;
            width: 60%;
            cursor: pointer;
            height: 40px;
            margin-top: 25px;
            padding: 13px 0;
            text-transform: uppercase;
            @media (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

tray-login *{
  font-family: $font-family !important;
  form#form-identify{
    input#input-identify{
      border: 1px solid $cor02;
    }
    strong.tray-title{
      font-weight: 100 !important;
    }
  }
  button#tray-login-identify {
    font-weight: 500;
    text-transform: uppercase;
  }
  .tray-btn-facebook{
    font-weight: 500 !important;
    text-transform: uppercase;
  }
}

.tray-login {
  .tray-title{
  font-weight: 100 !important;
  }
}