<section class="brands__list">
    <ul>
        {% if banner.extra5 %}<li>{{ banner.extra5 }}</li>{% endif %}
        {% if banner.extra6 %}<li>{{ banner.extra6 }}</li>{% endif %}
        {% if banner.extra7 %}<li>{{ banner.extra7 }}</li>{% endif %}
        {% if banner.extra8 %}<li>{{ banner.extra8 }}</li>{% endif %}
        {% if banner.extra9 %}<li>{{ banner.extra9 }}</li>{% endif %}
        {% if banner.extra10 %}<li>{{ banner.extra10 }}</li>{% endif %}
        {% if banner.extra11 %}<li>{{ banner.extra11 }}</li>{% endif %}
        {% if banner.extra12 %}<li>{{ banner.extra12 }}</li>{% endif %}
        {% if banner.extra13 %}<li>{{ banner.extra13 }}</li>{% endif %}
        {% if banner.extra14 %}<li>{{ banner.extra14 }}</li>{% endif %}
        {% if banner.extra16 %}<li>{{ banner.extra16 }}</li>{% endif %}
        {% if banner.extra17 %}<li>{{ banner.extra17 }}</li>{% endif %}
        {% if banner.extra18 %}<li>{{ banner.extra18 }}</li>{% endif %}
    </ul>
</section>