{% if category.id == settings.nameCategory1 %}
<div class="img-category">
    <img src="{{asset (settings['banner-01']) }} " alt="{{category.name}}">
</div>
{% endif %}

{% if category.id == settings.nameCategory2 %}
<div class="img-category">
    <img src="{{asset (settings['banner-02']) }} " alt="{{category.name}}">
</div>
{% endif %}

{% if category.id == settings.nameCategory3 %}
<div class="img-category">
    <img src="{{asset (settings['banner-03']) }} " alt="{{category.name}}">
</div>
{% endif %}

{% if category.id == settings.nameCategory4 %}
<div class="img-category">
    <img src="{{asset (settings['banner-04']) }} " alt="{{category.name}}">
</div>
{% endif %}

{% if category.id == settings.nameCategory5 %}
<div class="img-category">
    <img src="{{asset (settings['banner-05']) }} " alt="{{category.name}}">
</div>
{% endif %}

{% if category.id == settings.nameCategory6 %}
<div class="img-category">
    <img src="{{asset (settings['banner-06']) }} " alt="{{category.name}}">
</div>
{% endif %}

{% if category.id == settings.nameCategory7 %}
<div class="img-category">
    <img src="{{asset (settings['banner-07']) }} " alt="{{category.name}}">
</div>
{% endif %}

{% if category.id == settings.nameCategory8 %}
<div class="img-category">
    <img src="{{asset (settings['banner-08']) }} " alt="{{category.name}}">
</div>
{% endif %}