<nav class="hidden-sm hidden-xs" id="nav_bar">
    <div class="hidden-lg nav-cabecalho-mobile-wrapper">
        <div class="login-box tray-hide" data-logged-user="true">
            <span class="texto-cima">Ol&aacute;, <span data-customer="name">{{ customer.name }}</span>!</span>
			<span class="texto-baixo">
				<a href="{{ links.central }}">Minha conta</a> | <a href="{{ links.logout }}">Sair</a>
			</span>
        </div>
        <div class="login-box tray-hide" data-logged-user="false">
            <span class="texto-cima">Bem-vindo!</span>
			<span class="texto-baixo">
				<a href="{{ links.login }}">Entrar</a> | <a href="{{ links.register }}">Cadastro</a>
			</span>
        </div>
        <button class="hidden-lg mobileMenu">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <div class="container-navbar">
        <div class="navbar-full">
        <ul class="nv-01">            
            {% for category in categories %}
            {% if loop.index <= 8 %}
            <li class="cat_id-{{ category.id }} dropdown">
                <a href="{{ category.link }}" class="dropdown-link">
                    {{ category.name }}
                </a>
                {% if category.children %}
                    <svg class="cat__icon icon--arrow-bottom hidden-lg hidden-md">
                        <use xlink:href="#icon-arrow-bottom"></use>
                    </svg>
                    
                {% endif %}           
                {% if category.children %}
                {% set varCat = category.id %}                
                <div class="dropdown-switcher">                   
                    <ul class="nv-02 carrossel-navbar">
                        {% for child in category.children %}
                            <li class="cat_id-{{ child.id }} dropdown dropdown-nv2">
                                <a href="{{ child.link }}">
                                    {{child.name }}
                                </a>
                                {% if child.children %}
                                    <svg class="arrow-down hidden-lg hidden-md">
                                        <use xlink:href="#icon-arrow-bottom"></use>
                                    </svg>
                                {% endif %}
                                {% if not child.children %}
                                    <a href="{{ category.link }}" class="link-vertodos">
                                        <span>Ver todos: {{ child.name }}</span>
                                    </a>
                                {% endif %}
                                
                                {% if child.children %}
                                    <ul class="nv-03">
                                    {% for child in child.children %}
                                        <li class="cat_id-{{ child.id }} dropdown">
                                            <a href="{{ child.link }}">{{child.name }}</a>
                                          
                                        </li>
                                      
                                    {% endfor %}
                                        <li class="cat_id-{{ child.id }} dropdown">
                                            <a href="{{ child.link }}" class="link-vertodos">
                                                <span>Ver todos: {{ child.name }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        
                        {% if utils.is_mobile %}
                            <a href="{{ category.link }}" class="link-vertodos">
                                <span>Ver todos: {{ category.name }}</span>
                            </a>
                        {% endif %}
                    </ul>
                    <div class="product_navbar hidden-sm hidden-xs">
                        {% set products = Products({
                            'filter': [settings.filtros1],
                            'limit': 1,
                            'order': settings.ordem1,
                            'order': {
                                'stock': 'desc',
                                'id': 'desc'
                            },
                            'categories': [ varCat ] 
                        }) %}
                        {% element 'snippets/showcase' {"products": products} %}
                    </div>
                </div>
           
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    </div>
</nav>