html {
  font-size: 100%;
}

body {
  @include text();
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media(min-width: 1200px) {
    padding-top: 165px;
  }
}
// body {visibility:hidden;}
.page-checkout_cart {
  body {
    padding: 0;
  }
}
body{}
.active__body {
  opacity: 1;
}

.head_title{
  padding: 0;
  color: $cor02;
  margin: 0 0 35px;
  font-size: 13px;
  margin-top: -10px;
  font-weight: 700;
  background: #fff;
  @media (max-width:992px){
  font-size: 25px;
  padding: 20px 15px;
  background: $cor01;
  margin: 0;
  color: #fff;
  }
}

*, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="image"] {
  width: auto;
}

img {
  width: auto;
  max-width: 100%;
}

hr {
  display: none;
}

abbr[data-original-title], abbr[title] {
  border: none;
  text-decoration: none;
}

a,
button,
input,
select,
textarea {
  outline: none !important;
}

ul, ol {
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

svg {
  height: 16px;
  width: 16px;
}


.product a > .ranking {
  display: none;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 20%;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 11;
  width: 120px;
}

.product a:hover > .ranking {
  display: block;
}

.product a:after {
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;

}

.product a:hover:after,
.product a:hover:before {
  opacity: 1;
  visibility: visible;
}

a,
a i,
.btn,
.btn i,
.btn span,
.dropdown-switcher {
  @include transition();
}

a,
.nav > li > a {
  @include link();
  @include link-action();
  @include border-radius();
  &:hover {
    i {
      color: lighten($cor01, 100%);
    }
  }
}

.btn {
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 30px;
  z-index: 30;
}

.btn-primary {
}

.page-checkout_cart{
  form {
    display: flex;
    position: relative;
    vertical-align: top;
    width: 100%;
    flex-wrap: wrap;
    }
}

form {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
  input,
  input.form-control,
  textarea {
    color: #333;
  }
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $cor01;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.logout {
  padding: 0 !important;
  @include link-action('', 'a', $cor01, none);
}

.dropdown {
  position: relative;

  .dropdown-switcher {
    border: none;
    height: 0;
    left: 0;
    min-width: 200px;
    opacity: 0;
    filter: alpha(opacify=0);
    overflow: hidden;
    padding: 0;
    position: absolute;
    br {
      display: none;
    }
  }

  &:hover {
    > .dropdown-switcher {
      background-color: white;
      @include box-shadow($box-shadow);
      border: none;
      height: auto;
      opacity: 1;
      overflow: visible;
      filter: alpha(opacify=100);
      padding: 10px;
      top: 100%;
      z-index: 99;

      .dropdown {
        > .dropdown-switcher {
          left: 100%;
          overflow: visible;
          height: auto;
          top: 0;
          .dropdown {
            > .dropdown-switcher {
              left: 100%;
              overflow: visible;
              height: auto;
              top: 0;
            }
          }
        }
      }
    }
  }
}

.breadcrumb {
  align-items: center;
  background: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;
  padding: 50px 0 10px;
  position: relative;

  @media (max-width: 680px) {
    padding-top: 0;
    margin: 0;
  }

  li {
    &:first-child a {
      padding-left: 0;
    }

    & + li:before {
      color: $cor01;
      content: '>';
    }
  }

  &:after {
    background: $cor02;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    height: 6px;
    position: absolute;
    width: 100%;
    height: 1px;
  }
}
.breadcrumb__link {
  align-items: center;
  color: $dark-gray;
  display: inline-flex;
  font-size: 11px;
  font-weight: 400;
  text-transform: lowercase;

  @media (max-width: 680px) {
  }

  &.home {
    color: $light-gray;
  }
}

.breadcrumb__item {
  &:not(:first-child) {
    &:before {
      color: $light-gray;
      content: '/';
      font-weight: 400;
    }
  }
}

#title-page,
h1.color {
  color: $cor01;
  font-weight: 100;
  line-height: normal;
  margin: 0;
  padding: 15px 0;
}
.label_text {
  display: none;
}
.product__offer {
  position: absolute;
  top: 5px;
  right: 90px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  z-index: 9;
  @media (max-width:992px){
    right: 20px;
  }
}
 .showcase{
    .product__offer {
      right: 20px;
      height: 40px;
      width: 40px;
      @media (max-width:992px){
        right: 0;
        height: 35px;
        width: 35px;
        font-size: 12px;
      }
    }
  }

.labels {
  .label {
    border-radius: 0;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    padding: 2px;
    display: flex;
    font-size: 14px;
    &:nth-child(3),
    &:nth-child(4) {
     display: none;
    }
    @media(max-width: 767px) {
      display: block;
      margin: 0 auto;
      max-width: 200px;
      font-size: 11px;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
     display: none;
    }
    }

    @media(min-width: 992px) {
      &:not(:first-child) {
        margin-left: 5px;
      }

    }

    &.featured {
      color: #393939;
    }

    &.free-shipping {
      color: $cor01;
    }

    &.new {
      color: $cor01;
    }

    &.promotion {
      background-color: $cor01;
    }

    &.unavailable {
      padding: 5px;
      position: absolute;
      top: 0;
      left: 0;
      color: $cor02;
      background: transparent;
      @media (max-width:992px){

      }
    }
  }
}
span.ValoresLista h4 {
  margin: 0;
  font-size: 13px;
}

.products-categories li img {
  max-height: 220px;
}

.showcase-carousel,
.banners-carousel {
  padding: 15px 0;
}

.banners-carousel {
  .owl-carousel {
    .owl-item {
      img {
        display: block;
        margin: 0 auto;
        width: auto;
      }
    }
  }

  li {
    .border {
      a {
        @media (min-width: 991px) {
          display: block;
          padding: 10px 15px;
          @include transition();
        }
      }
      @include link-action('', 'a', none, none);
    }
  }
}

#bannerJS {
  display: none;
}

.banner {
  img {
    width: 100%;
  }
}

.banner-bottom {
  padding: 15px 0;
}

.modal {
  > div {
    top: 50%;
    left: 50%;
    @media (max-width:992px){
      top: 90%;
    }
  }
  .modal-dialog,
  .light_altura {
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }

}

.ah-scroll-active {
  #header {
    @include box-shadow($box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 18;
  }
  &.ah-scroll-active-2 #header_bar {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.board_htm.description {
  padding: 15px 0 40px;
  @media (max-width: 1199px) {
    margin: 0px;
    padding: 15px 0 0;
  }
}

.svg-sprite {
  display: none;
}

.owl-theme .owl-controls {
  display: none;
  .owl-pagination {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width:992px){
      padding: 25px 0 0px;
    }
  }
}

.banners-extra__title {
  color: $cor02;
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 20px;
  text-align: center;
  @media (max-width: 1199px) {
    font-size: 23px;
    margin: 0px 0 5px;
  }
}


.banners-extra__subtitle {
  color: $cor02;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  margin-bottom: 35px;
  text-align: center;
}

.banners-extra__list {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (min-width: 1200px) {
    .owl-item {
      margin-right: 7px;
    }

  }
}


.banner-extra__item {
  display: block;
  max-width: 262px;
  width: 100%;
}



::-moz-selection {
  background: $cor01;
  color: white;
}

::selection {
  background: $cor01;
  color: white;
}

button {
  background-color: transparent;
  border: 0 none;
  padding: 0;
}

.brands__list {
  margin: 30px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .owl-carousel {
    .owl-wrapper {
      display: flex !important;
      align-items: center;
    }

    .owl-item {
      li {
        text-align: center;

        &:hover {
          img {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }

      img {
        opacity: .45;
        filter: grayscale(90%);
        transition: all 150ms ease-in-out;
        width: auto;
      }
    }
  }

  .owl-theme .owl-controls .owl-buttons div {
    background: none !important;

    &:hover {
      i {
        color: $cor01;
      }
    }
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}


::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background-color: $cor01;
}


#full-banner {
  .owl-carousel .owl-item {
    overflow: hidden;

    li {
      position: relative;
      z-index: 200;

    }
    img {
      width: auto;
      max-width: none;
      max-height: none;
      min-width: 100%;
      min-height: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width:992px){
        max-height: 160px;
      }
    }
  }

}

.banners-extras {
  margin: 20px 0 60px;

  @media (max-width: 680px) {
    margin: 5px 0;
  }
}

.banners-extras__center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  max-width: 1160px;
  width: calc(100% + 20px);
  transition: $transition;
  overflow: hidden;

  img {
    transition: $transition;

    &:hover {
      transform: scale(1.1);
    }

  }

  > * {
    margin: 10px;
    flex: 1 1 140px;
    overflow: hidden;
  }
}

.owl-theme .owl-controls {
  margin: 0;
}

.products-categorys {

  @media (min-width: 1200px) {
    padding-left: 20px;
  }
}

main {
  min-height: 80vh;
  padding-top:10px;
}

@media (min-width: 1200px) {
  body.moving {
    .info-lane {
      margin-top: -48px;
    }

    #nav_bar {
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2)
    }
  }

  body.moving--down {
    #nav_bar {
      margin-top: -59px;
    }
  }
}

.page-login main {
  min-height: auto;
}

.central-breadcrumb {
  display: none;
}


.movie__one{
  margin-top: 25px;
  background: #fafafa;
  padding: 20px 0 50px;
  .title-showcase{
      text-align: left;
      margin-top: 0;
      @media(min-width: 992px){
        margin: 15px 0;
      }
  }
  .title-showcase-sub{
      margin-bottom: 15px;
      @media(min-width: 992px){

      }
  }
  .movie__container{
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      // padding: 0 15px 50px;
      display: flex;
      align-items: stretch;
      @media(max-width: 640px){
          padding: 0 5px;
      }
      @media(max-width: 991px){
          flex-wrap: wrap;
      }
  }

  .movie__item{
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      iframe{
        width: 100%;
        height: 321px;
        z-index: 0;
        left: 0;
        top: 0;
        position: relative;

      }
      svg{
          width: 70px;
          height: 70px;
          fill: #fff;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 11;
      }
      .btn-modal-movie{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 10;
          width: 100%;
          cursor: pointer;
          max-height: 320px;
          &:before{
            cursor: pointer;
            content: '';
            background: #000;
            opacity: 0.6;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 320px;
            transform: translateY(-50%);
          }
      }
  }

  .modal_item-save{
      display: none;
  }

  .modal-dialog{
      width: 100%;
      max-width: 720px;
  }
  .modal-content{
      background: none;
      box-shadow: none;
      border: none;

      position: relative;
      @media (max-width:992px){
        transform: translateY(-50%);
      }

      h4{
          position: absolute;
          left: 10px;
          top: 10px;
          display: none;
      }
      .close{
          position: absolute;
          left: 50%;
          top: -20px;
          background: #fff;
          z-index: 10;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          opacity: 0.5;
          transform: translateX(-50%);
      }
  }
  .modal-header{
      position: relative;
      z-index: 1;
      border: none;
  }
  .modal-body{
      height: 335px;
      position: relative;
      z-index: 0;
      iframe{
          width: 100%;
          height: 100%;
      }
  }

  .movie__item,
  .movie__product{
      width: 50%;
      @media(max-width: 991px){
          width: 100%;
          min-height: 280px;
          margin: 25px 0 0;
      }
  }


  .movie__product{
      .showcase-list{

          padding: 0;
          @media(min-width: 992px){
              padding: 0 25px;
          }

          &::-webkit-scrollbar {
              height: 5px;
              width: 5px;
          }


          &::-webkit-scrollbar-track {
              background-color: #ebebeb;
              border-radius: 30px;
          }

          &::-webkit-scrollbar-thumb {
              background-color: #222;
              border-radius: 30px;
          }
      }

      .showcase-column{

          .showcase__installment{
              height: auto;
          }


          .left{
              display: flex;
              align-items: center;
          }

          img{
              min-height: 100px;
              min-width: 100px;
              max-width: 100px;
              @media(max-width: 500px){
                  min-height: 70px;
                  min-width: 70px;
                  max-width: 70px;
              }
          }

          .border {
              display: flex;
              align-items: stretch;
              min-height: 100px;
              margin-bottom: 40px;

              @media(max-width: 500px){
                  border-bottom: 1px solid #eee;
                  align-items: flex-start;
                  min-height: auto;
                  padding: 20px 0;
              }
          }


          .right{
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              @media(max-width: 500px){
                  padding: 0 10px 0 0;
                  flex-wrap: wrap;
                  >*{
                      width: 100% !important;
                      max-width: 100% !important;
                  }
              }
          }

          .product-name{
              margin: 0 0 10px 0;
              font-size: 13px !important;
              line-height: 13px !important;
              a{
                  color:#252323;
                  font-size: 13px !important;
                  line-height: 13px !important;
                  font-weight: 500;
                  letter-spacing: -0.9px;
              }
          }

          .short{
              color: #7d7d7d;
              font-size: 12px;
              font-weight: 300;
          }

          .content{
              padding: 0 10px;
              width: 100%;
              max-width: 245px;

          }

          .product-price{
              .price-item{
                  display: flex;
                  flex-wrap: wrap;
                  width: 100%;
                  margin: 5px 0;
              }

              .preco-de{
                  font-size: 13px;
                  color: rgb(125, 125, 125);
                  text-decoration: line-through;
                  margin-right: 10px;
              }
              .preco-por{
                  color:$cor01;
                  font-size: 15px;
                  strong{
                      font-weight: 500 !important;
                  }
              }

              .parcelamento{
                  width: 100%;
                  br{
                      display: none;
                  }
              }
          }

          .action-buttons{
              @media(max-width: 500px){
                  margin-top: 15px;
              }
              a.addCart,
              button.addCart{
                  font-size: 12px;
                  color: #fff !important;
                  line-height: 12px;
                  font-weight: 600;
                  text-shadow: 1.414px 1.414px 2px rgba(0, 0, 0, 0.35);
                  min-width: 135px;
                  height: 45px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 3px;
                  box-shadow: 0.307px 1.307px 8px 0px rgba(0, 0, 0, 0.25);
                  @media(max-width: 500px){
                      // max-width: 140px;
                      width: 100%;
                      float: right;
                      margin-right: 15px;
                  }
              }
              a.details{
                  font-size: 11px;
                  display: inline-block;
                  color: #262424;
                  font-weight: 600;
                  width: 100%;
                  text-align: center;
                  padding: 5px 0;
              }
          }
      }
  }
}



//SELECIONAR COR
.page-login{
  button{
    background: $cor02;
    width: 100%;
  }
}
#header_bar {
  form{ 
    input:focus{

    }
  }
}