#nav_bar {
  position: relative;
  margin-top: 0;
  width: auto;
  transition: all 150ms ease-in-out;
  z-index: 100;
  background: #fff;
  height: 45px;

  @media(max-width: 1199px) {
    .nav-cabecalho-mobile-wrapper {
      padding: 20px 15px;
      background: $cor01;
      width: 100%;

      .login-box {
        padding: 0;

        .texto-cima {
          display: block;
          margin-bottom: 3px;

          &, span {
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: -.1px;
            line-height: 11px;
            text-transform: uppercase;
          }
        }

        .texto-baixo {
          &, a {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  ul.nv-01 {
    @media(min-width: 1200px) {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      //max-width: 1140px;
      height: 35px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1140px;
    }
    > li {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      position: initial;
      @media(max-width: 992px) {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $dark-gray;
        padding: 0 15px;
      }
      @media(min-width: 1200px) {
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          > a {
            color: $cor01;
            &:after{
              display: block;
              content: '';
              border-bottom: solid 2px $cor01;
              transform: scaleX(1);
              transition: transform 250ms ease-in-out;
              padding-top: 3px;
            }                   
          }
          .dropdown-switcher {
            height: 70vh;
            display: flex;
            justify-content: space-between;
            padding: 0 110px;
            left: -5%;
          }
        }
      }
      @media(min-width: 1900px) {
        &:hover {
          .dropdown-switcher {
            height: 70vh;
            display: flex;
            justify-content: space-between;
            padding: 0 110px;
            left: -35%;
          }
        }
      }
      
      @media(min-width: 1700px) and (max-width: 1899px) {
        &:hover {
          .dropdown-switcher {
            height: 70vh;
            display: flex;
            justify-content: space-between;
            padding: 0 110px;
            left: -25%;
          }
        }
      }
      
      @media(min-width: 1500px) and (max-width: 1699px) {
        &:hover {
          .dropdown-switcher {
            height: 70vh;
            display: flex;
            justify-content: space-between;
            padding: 0 110px;
            left: -15%;
          }
        }
      }
      
      @media(min-width: 1200px) and (max-width: 1499px) {
        &:hover {
          .dropdown-switcher {
            height: 70vh;
            display: flex;
            justify-content: space-between;
            padding: 0 110px;
            left: -5%;
          }
        }
      }
      .dropdown-switcher {
        background-color: #fafafa;
        box-shadow: 0 0 0 1px #f6f6f6;
        padding: 0;
        top: 100%;
        margin-top: -1px;
        width: 100vw;
        @media (max-width:992px){
          left: 0;
          background: transparent;
        }
      }
      > a {
        align-items: center;
        color: $cor02;
        display: block;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 150ms ease-in-out;
        z-index: 300;
        padding: 15px 0px 0;
        &:after{
          display: block;
          content: '';
          border-bottom: solid 2px $cor01;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          padding-top: 3px;
        }
        
        @media(max-width: 1199px) {
          color: $cor03;
          text-align: left;
        }
      }

    }
    .link-vertodos{
      width: 100%;
      margin-top: 5px;
      font-style: italic;
    }

    > .all_departments {
      flex: 0 0 auto;
      position: static;

      &:hover {
        .dropdown-switcher {
          padding: 10px;
        }
      }

      svg {
        flex: 0 0 auto;
      }

      .dropdown-switcher {
        width: 100%;
      }

      > a {
        color: $cor02;
        font-size: 13px;
        font-weight: 600;
        padding: 0 10px;
        text-transform: none;
      }

      ul.nv-02 {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        position: static;
        max-height: 60vh;
        overflow: auto;
        justify-content: space-between;
      }

      a.nv-02 {
        font-size: 13px;
      }

      ul.nv-03 {
        background-color: transparent;
        position: static;
        margin-bottom: 10px;
        padding-left: 20px;
        opacity: 1;
        visibility: visible;
      }

      ul.nv-04 {
        position: static;
      }

      a.nv-03 {
        font-size: 11px;
        padding: 0;

        &:hover {
          background-color: transparent;
          color: $cor01;
        }
      }

      ul.nv-04 {
        margin-bottom: 10px;
        padding: 5px 0 0 10px;
      }

      li.nv-04 {
        margin-bottom: 5px;
      }

      a.nv-04 {
        color: #999;
        font-size: 11px;
        transition: all 150ms ease-in-out;

        &:hover {
          color: $cor01;
        }
      }

    }
  }


  div.nv-02 { 
    display: flex;
    align-items: stretch;
  }

  ul.nv-02 {
    display: flex !important;
    position: relative;
    max-width: 970px;
    margin: 45px 0;
    align-items: flex-start;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    .owl-wrapper-outer{
      padding:10px 0;
      
    }
    @media(max-width: 992px){
      flex-direction: row;
      flex-wrap: wrap;
      transform: translateX(-0%);
      left: 0%;
      height: auto;
      margin: 0;
    }
    
  }

  .nv-02 {
    > li {
      display: flex;
      position: relative;
      width: auto;
      flex-wrap: wrap;
      flex: 0 0 200px;
      margin-right: 35px;
      margin-bottom: 20px;
      &:last-child{
        border: 0;
      }
      @media(max-width: 992px){
        flex-direction: row;
        align-items: center;
        width: 290px;
        border: solid $dark-gray;
        border-width: 0px 0 3px;
        margin: -1px -15px;
        padding: 0;
        flex: 0 0 auto;
        background: #fafafa;
        &:first-child{
          border-top: 1px solid $dark-gray;
          flex: 0 0 auto;          
        }
      }

      &:hover {
        > a {
          @media(max-width: 992px){
            background: none;
            color: $cor02;
            display: flex;
            align-items: center;
          }
        }

        .nv-03 {
          opacity: 1;
          visibility: visible;
          z-index: 200;
          
        }

      }

      > a {
        color: $cor01;
        font-size: 13px;
        font-weight: 600;
        transition: all 150ms ease-in-out;
        text-transform: uppercase;
        height: 25px;
        align-items: center;     
        @include after;
        white-space: nowrap;
        @media (max-width:992px){
          height: 45px;
          border-width: 1px 0;
          font-weight: 200;
          text-transform: uppercase;
          color: $cor02;
          width: 92%;
          padding: 0 30px !important;
          display: flex;
          align-items: center;
          
        }
      }
    }
  }

  ul.nv-03 {
    transition: all 150ms ease-in-out;
    width: 100%;
    > li {
      display: flex;
      align-items: center;
      padding: 2px 0px;
      flex-wrap: wrap;
      
      > a {
        color: $dark-gray;
        display: block;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        text-transform: none;
        transition: all 150ms ease-in-out;
        white-space: nowrap;
        font-weight: 100;
        @include link-action('', '', ($cor01));
      }
    }
    @media (max-width:992px){
      position: initial;
      visibility: visible;
      opacity: 1;
      display: none;
      width: 100%;
      padding: 0;
      li{
        height: 45px;
        border: solid $light-gray;
        border-width: 1px 0;
        display: flex;
        align-items: center;
        margin: -1px;
        padding: 0 30px;
        a{
          font-weight: 400;
          padding: 0 10px;
          font-size: 12px;
          color: $cor03;
        }
      }
    }
  }
}
.carrossel-navbar{
  .dropdown-nv2 {
    a{
      text-transform: uppercase;
      color: $cor01;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.carrossel-navbar .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--menu {
  fill: $cor01;
  height: 15px;
  margin-right: 2px;
  width: 18px;
}

#nav_bar .nv-01 > .you-need {
  background-color: $cor01;
  flex: 0 0 auto;
  position: relative;
  margin-right: 10px;

  &:hover {

    .you-need__list {
      opacity: 1;
      visibility: visible;
      z-index: 200;
    }

  }
}

.you-need__title {
  align-items: center;
  color: white;
  cursor: default;
  display: inline-flex;
  font-size: 11px;
  font-weight: 600;
  height: 45px;
  justify-content: center;
  line-height: 45px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
}

.you-need__icon {
  fill: white;
  flex: 0 0 auto;
  height: 8px;
  margin-left: 3px;
  width: 8px;
}

.you-need__list {
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  transition: all 150ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 265px;
  z-index: -1;
}

.you-need__link {
  color: $cor02;
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 25px;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: $cor01;
    color: white;
  }
}

@media (max-width: 990px) {
  #nav_bar .nv-01 > .you-need {
    margin: 0 0 10px;
    position: relative;
  }

  .you-need__title {
    justify-content: flex-start;
    position: relative;
    width: 100%;
  }

  #nav_bar ul.nv-01 > li > a {
    justify-content: flex-start;
    height: 50px;
    width: 80%;
    align-items: center;
    display: flex;
    pointer-events: none;
  }

  .you-need__list {
    display: none;
    position: static;
    opacity: 1;
    visibility: visible;
    transition: none;
  }


  .you-need__icon {
    right: 15px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    z-index: 200;
  }

  .you-need__link {
    padding: 5px 20px;
  }
}
a.link-vertodos {
  &:hover{
    &:after{display: none !important;}}
  span {
  text-transform: initial;
  font-weight: 100;
  color: $dark-gray;
  &:hover{
    color: $cor01;
  }
  }
  @media (max-width:992px){
    height:20px !important ;
  }
}
.product_navbar {
  padding:10px 0;
  width: 17%;
  .border{
    max-height: 443px;
    background: #fff;
  }
}

li.dropdown.dropdown-nv2.drop .nv-03 {
  display: block !important;
}

.link-vertodos{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 35px;
  text-transform: uppercase;
}




